.jumbotron-top, 
.new-releases-top {
    background-color: aqua;
    height: 300px;
}

#new-releases {
    background-color: #1F1F1F;
}

#playstation-plus {
    background-color: #BEBCBB;
}

#playstation-now {
    background-color: #161C3B;
}

.footer-btm {
    background-color: #00439C;
}

@media screen and (max-width: 578px) {
    
    .playstation-plus-img, 
    .playstation-now-img, 
    #playstation-5 .text {
        display: none;
    }

}